@media only screen and (max-width: 600px) {
    .side-nav {
        width: 110px;
    }

    .logo-icon {
        display: block;
    }

    .logo-img {
        display: none;
    }

    .nav-links li a p {
        display: none;
    }

    .nav-links li a i {
        margin-right: 0;
    }

    .nav-links li a {
        justify-content: center;
    }
}